target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
work/
.settings/org.sonar*
src/main/webapp/js/jquery.min.js
src/main/webapp/js/jquery-ui.min.js
src/main/webapp/js/d3.min.js
src/main/webapp/js/jquery.dataTables.min.js
src/main/webapp/css/font-awesome.min.css
src/main/webapp/css/jquery-ui.min.css
src/main/webapp/css/jquery.dataTables.min.css
src/main/webapp/css/smoothness
src/main/webapp/fonts
src/main/webapp/images
